nav {
	background-color:#000000;
	color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 10px;
    margin:0;
}
.container{
    width: auto;
    background-color: rgb(0, 0, 0);
    color: whitesmoke;
    margin: -8px; 
    overflow: hidden;   
}


// NAVBAR SASS style
//#navbar {
//  padding-left: 12%;
//  margin-bottom: 1000px;
//  margin: 8px -8px 8px -8px;
//  background-color: #000000;
//  overflow: hidden;
//
//  ul {
//    padding: 0;
//    list-style: none;
//  }
//
//  li {
//    display: inline;
//  }
//
//  a {
//    color: #fff;
//    text-decoration: none;
//    font-size: 25px;
//    padding-right: 13%;
//
//    &:hover {
//      color: rgb(218, 149, 0);
//      text-decoration: none;
//      font-size: 25px;
//      padding-right: 13%;
//      border: whitesmoke;
//    }
//
//    &:active {
//      color: rgb(255, 0, 0);
//      text-decoration: none;
//      font-size: 25px;
//      padding-right: 13%;
//      border: whitesmoke;
//    }
//  }
//}
//--------------

#navbar{
    padding-left: 12%;
    margin-bottom: 1000px;
    margin: 8px -8px 8px -8px;
    background-color: #000000;
    overflow: hidden;
}

#navbar ul{

	padding: 0;
	list-style: none;
}

#navbar li{
	display: inline;
}

#navbar a{
    color: #fff;
	text-decoration: none;
	font-size: 25px;
	padding-right: 13%
}

#navbar a:hover{
    color: rgb(218, 149, 0);
	text-decoration: none;
	font-size: 25px;
    padding-right: 13%;
    border: whitesmoke;
}

#navbar a:active{
    color: rgb(255, 0, 0);
	text-decoration: none;
	font-size: 25px;
    padding-right: 13%;
    border: whitesmoke;
}

#showcase{
	min-height:100px;
	margin-bottom: 10px;
	text-align: center;
}

#showcase h1{
	color:rgb(245, 245, 245);
	font-size:50px;
	line-height: 1.6em;
	padding-top: 30px;
}

#RD{
    float: left;
    height: 200px; background-size:cover; width:20%; 
    background-image: url("/../assets/rokidmedia.jpg");
    background-position:center;
  }

#RD2{
    float: right;
    height: 200px; background-size:cover; width: 20%; 
    background-image: url("/../assets/rokidmedia.jpg");
    background-position:center;
  }